<!DOCTYPE html>
<html>
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaKaam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='first_page.css') }}">
</head>
<body class="bg-gradient">

    <div class="container">
        <h1 class="title">ApnaKaam</h1>
        <div class="card-container">
            <!-- Employer Login Card -->
            <div class="login-card">
                <h2 class="card-title">Employer Login</h2>
            <a href="{{ url_for('login_page.login_view') }}" class="login-link"> login </a>
            
            </div>

            <!-- Worker Login Card -->
            <div class="login-card">
                <h2 class="card-title">Worker Login</h2>
            <a href="{{ url_for('worker_login_page.login_view') }}" class="login-link"> login </a>
        </div>
    </div>
</div>

</body>

</html>